---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
---

<Layout title="Welcome to Astro.">
  <Title text="404" />
  <p slot="slot2">Página no encontrada</p>
</Layout>

<style>
</style>
